<p> Welcome to {{ title }}. </p>

{{#if isUserLoggedIn}}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}

<nav>
    <div>
    <a href="auth/logout"><i class="fa fa-sign-out"></i></a>
    </div>
  <ul>
    {{#if isUserLoggedIn}}


      <li> <a href="auth/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>



    {{>navbar}}