    <div>
    <a href="#" onclick="history.go(-1)"><i class="fa fa-arrow-left"></i></a>
    </div>
<main>
  <div class="private-header">
    <button id="back-arrow"><img src="/images/arrow.svg" alt=""></button>
    <h1>Add Song</h1>
  </div>
  <form action='/add' method='POST' class="add-quote" enctype="multipart/form-data">
  <div>
   <label for=''>Song</label>
    <label class="custom-file-upload">
      <input id="up-image" type="file" name='songfile'>
      <span>Upload song</span>
    </label>
    </div>
    <div>
     <label for="descripton-input"> Description </label>
        <input type="text" name="description" id="description-input" placeholder="">
    </div>
    <div>
    <label for="title-input"> Title </label>
    <input type="text" name="title" id="title-input" placeholder="">
    </div>
    <div>
     <label for="artist-input"> Artist</label>
    <input type="text" name="artist" id="artist-input" placeholder="">
    </div>
    <button type='submit'>Submit</button>
  </form>
  
  {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
  {{/if}}

  {{> navbar}}
</main>