<main class="profile">
  <section class="user">
    <div class="user__top">
      <img class="user__img" src="{{newUser.profilepic}}" alt="">
      <a href="/edit-profile" >Edit profile</a>
    </div>
    <h1>{{newUser.name}}</h1>
    
  </section>
  <section class="profile__selector">
    <button id="btn-my-songs" class="selected">My songs</button>
    <button id="btn-fav-songs" class="not-selected">My favourites</button>
    <button id="btn-rooms" class="not-selected">Upcoming rooms</button>
  </section> 
{{!-- <section class="profile__my-quotes">
    {{#each quotes}}
      {{>quoteCard this}}
    {{/each}}
  </section>
  <section class="profile__fav-quotes">
    {{#each userFav}}
      {{>quoteCard this}}
    {{/each}}
  </section>
  {{>navbar}} --}}
</main>